// INDEX

.ride {
  border-bottom: 1px solid #ddd;
  padding: 10px;

  &:hover {
    background-color: #F2FFFA;
  }
}

.ride-driver {
  display: inline-block;
  width: 250px;
  border-right: 1px solid #ddd;
  height: 90px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}

.ride-driver__avatar {
  display: inline-block;
  margin-right: 10px;

  img {
    height: 50px;
  }
}

.ride-driver__info {
  vertical-align: top;
  display: inline-block;
}

.ride-driver__name {
  font-weight: bold;
  font-size: 16px;
}

.ride-driver__age {
  font-size: 12px;
}

.ride-description {
  display: inline-block;
  width: calc(100% - 430px);
  padding-left: 5px;
  padding-right: 5px;
}

.ride-simple-description {
  display: inline-block;
  width: calc(100% - 150px);
  padding-left: 5px;
  padding-right: 5px;
}

.ride-description__start_date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.ride-description__start-city {
  display: inline-block;
  color: #484C4B;
}

.ride-description__car {
  margin-top: 20px;
}

.ride-description__car-label,
.ride-description__car-name {
  display: inline-block;
  color: #484C4B;
  margin-right: 5px;
}

.ride-description__destination-city {
  display: inline-block;
  color: #484C4B;
}

.ride-description__arrow {
  margin-left: 10px;
  margin-right: 10px;
  color: #484C4B;
}

.ride-offer {
  text-align: right;
  display: inline-block;
  width: 150px;
  border-left: 1px solid #ddd;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;
}

.ride-offer__price-value {
  font-weight: bold;
  margin-bottom: -5px;
  font-size: 28px;
  display: inline-block;
  margin-right: 5px;
}

.ride-offer__price-currency {
  margin-bottom: -5px;
  font-size: 22px;
  text-transform: uppercase;
  display: inline-block;
}

.ride-offer__price-label {
  font-size: 18px;
}

.ride-offer__places-free {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin-right: 5px;
}

.ride-offer__places-label {
  display: inline-block;
}

// SHOW

.ride-show-offer,
.ride-show-driver,
.ride-show-description {
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.ride-show-description__heading {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  background-color: #fafafa;
}

.ride-show-description__start-city,
.ride-show-description__destination-city {
  display: inline-block;
  color: #484C4B;
}

.ride-show-description__actions {
  float: right;
}

.ride-show-description__arrow {
  display: inline-block;
  color: #484C4B;
  margin-right: 5px;
  margin-left: 5px;
}

.ride-show-description__details {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.ride-show-description__details-label {
  display: inline-block;
  width: 180px;
  float: left;
}

.ride-show-description__details-value {
  display: inline-block;
}

.ride-show-driver__heading,
.ride-show-offer__heading {
  border-bottom: 1px solid #ddd;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #fafafa;
}

.ride-show-driver__details {
  padding: 5px;
}

.ride-show-driver__details-avatar {
  display: inline-block;
  margin: 10px;
}

.ride-show-driver__details-info {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
}

.ride-show-driver__details-name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px;
}

.ride-show-driver__details-age {
  display: inline-block;
}

.ride-show-driver__details-join-label {
  display: inline-block;
  margin-right: 5px;
}

.ride-show-driver__details-join-value {
  display: inline-block;
}

.ride-show-offer__details-places,
.ride-show-offer__details-price {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.ride-show-offer__details-price-value {
  font-size: 25px;
  display: inline-block;
  margin-right: 5px;
}

.ride-show-offer__details-price-currency {
  font-size: 22px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 5px;
}

.ride-show-offer__details-price-label {
  display: inline-block;
}

.ride-status {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 90px;
  padding: 5px;
}

.ride-status__label {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  height: 110px;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-transform: rotate(270deg); /* Safari and Chrome */
  -moz-transform: rotate(270deg);   /* Firefox */
  -ms-transform: rotate(270deg);   /* IE 9 */
  -o-transform: rotate(270deg);   /* Opera */
  transform: rotate(270deg);
}
