// INDEX

.ride {
  border-bottom: 1px solid $gray-light;
  padding: 10px;

  &:hover {
    background-color: $green-light;
  }
}

.ride-driver {
  display: inline-block;
  width: 250px;
  border-right: 1px solid $gray-light;
  height: 90px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px;
}

.ride-driver__avatar {
  display: inline-block;
  margin-right: 10px;

  img {
    height: 50px;
  }
}

.ride-driver__info {
  vertical-align: top;
  display: inline-block;
}

.ride-driver__name {
  font-weight: bold;
  font-size: 16px;
}

.ride-driver__age {
  font-size: 12px;
}

.ride-description {
  display: inline-block;
  width: calc(100% - 430px);
  padding-left: 5px;
  padding-right: 5px;
}

.ride-simple-description {
  display: inline-block;
  width: calc(100% - 150px);
  padding-left: 5px;
  padding-right: 5px;
}

.ride-description__start_date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}

.ride-description__start-city {
  display: inline-block;
  color: $gray-darkest;
}

.ride-description__car {
  margin-top: 20px;
}

.ride-description__car-label,
.ride-description__car-name {
  display: inline-block;
  color: $gray-darkest;
  margin-right: 5px;
}

.ride-description__destination-city {
  display: inline-block;
  color: $gray-darkest;
}

.ride-description__arrow {
  margin-left: 10px;
  margin-right: 10px;
  color: $gray-darkest;
}

.ride-offer {
  text-align: right;
  display: inline-block;
  width: 150px;
  border-left: 1px solid $gray-light;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top;

  &__price-value {
    font-weight: bold;
    margin-bottom: -5px;
    font-size: 28px;
    display: inline-block;
    margin-right: 5px;
  }

  &__price-currency {
    margin-bottom: -5px;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
  }

  &__price-label {
    font-size: 18px;
  }

  &__places-free {
    font-weight: bold;
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
  }

  &__places-label {
    display: inline-block;
  }
}

// SHOW

.ride-show-offer,
.ride-show-requests,
.ride-show-driver,
.ride-show-description {
  border: 1px solid $gray-light;
  margin-bottom: 20px;
}

.ride-show-description {
  &__heading {
    border-bottom: 1px solid $gray-light;
    padding: 10px;
    font-weight: bold;
    font-size: 22px;
    background-color: $gray-lightest;
  }

  &__actions {
    float: right;
  }

  &__arrow {
    display: inline-block;
    color: $gray-darkest;
    margin-right: 5px;
    margin-left: 5px;
  }

  &__details {
    padding: 10px;
  }

  &__details-label {
    display: inline-block;
    width: 180px;
    float: left;

    @media (max-width: 767px) {
      width: 50%;
    }
  }

  &__details-value {
    display: inline-block;
  }
}

.ride-show-driver__heading,
.ride-show-requests__heading,
.ride-show-offer__heading {
  border-bottom: 1px solid $gray-light;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: $gray-lightest;
}

.ride-show-driver {
  &__details {
    padding: 5px;
  }

  &__details-info {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
  }

  &__details-name {
    font-size: 18px;
    font-weight: bold;
    display: inline-block;
    margin-right: 5px;
  }

  &__details-age {
    display: inline-block;
  }

  &__details-join-label {
    display: inline-block;
    margin-right: 5px;
  }

  &__details-join-value {
    display: inline-block;
  }
}

.ride-show-offer__details-places,
.ride-show-requests__details-places,
.ride-show-offer__details-price {
  padding: 10px;
}

.ride-show-offer {
  @media (max-width: 767px) {
    margin-top: 20px;
  }

  &__details-price-value {
    font-size: 25px;
    display: inline-block;
    margin-right: 5px;
  }

  &__details-price-currency {
    font-size: 22px;
    display: inline-block;
    text-transform: uppercase;
    margin-right: 5px;
  }

  &__details-price-label {
    display: inline-block;
  }
}

.ride-status {
  vertical-align: top;
  display: inline-block;
  width: 20px;
  height: 90px;
  padding: 5px;
  color: $white;

  &--pending {
    background-color: $orange;
  }

  &--accepted {
    background-color: $green;
  }

  &--rejected {
    background-color: $red;
  }

  &__label {
    text-align: left;
    text-transform: uppercase;
    font-weight: bold;
    height: 110px;
    margin-top: 20px;
    margin-left: 50px;
    -webkit-transform: rotate(270deg); /* Safari and Chrome */
    -moz-transform: rotate(270deg);   /* Firefox */
    -ms-transform: rotate(270deg);   /* IE 9 */
    -o-transform: rotate(270deg);   /* Opera */
    transform: rotate(270deg);
  }
}

.book-ride {
  padding: 10px;
}

.book-ride-form {
  margin-top: -10px;

  > div {
    width: 100% !important;
  }
}

.cities-search-form {
  .geosuggest {
    display: inline-block;
    margin: 10px;
    width: 30%;
  }

  .form-group {
    display: inline-block;
  }
}
