.notifications,
.header__notifications {
  &__button {
    padding: 0 !important;
    vertical-align: bottom;
  }

  &__header {
    padding: 5px;
    background-color: $gray-lightest;
    color: $black;
  }

  &__footer {
    padding: 5px;
    background-color: $gray-lightest;
  }

  &__empty {
    padding: 5px;
    width: 200px;
  }

  .notification {
    padding: 10px;
    background-color: $white;

    &:hover {
      background-color: $gray-lightest;
    }

    &.notification--seen {
      background-color: $gray-lightest;
    }

    &__body {
      display: inline-block;
      width: calc(100% - 40px);
      padding-left: 10px;
      vertical-align: middle;
      color: $black;
    }

    &__link {
      color: $blue-light;
    }

    &__timestamp {
      display: block;
      color: $gray;
      font-size: 12px;
    }
  }
}

.header__notifications {
  max-width: 450px;
  max-height: 400px;
  height: 70%;
  top: 65px !important;
  overflow-y: scroll;
}
