.stars {
  color: blue;
  display: inline-block;
}

.heading {
  border-bottom: 1px solid gray;
}

.heading__title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 5px;
}

.heading__button {
  float: right;
  margin-bottom: 10px;
}

.heading {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  height: 40px;
}

.heading-title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  float: left;
}

.heading-button {
  float: right;
}
