$black:                   #000000;
$blue-light:              #66afe9;
$blue:                    #267DC0;
$gray-lightest:           #fafafa;
$gray-light:              #cccccc;
$gray:                    #808080;
$gray-dark:               #757575;
$gray-darkest:            #484C4B;
$orange:                  #FFA500;
$red-error:               #FF0000;
$green:                   #008000;
$green-light:             #F2FFFA;
$white:                   #ffffff;
$yellow-light:            #FFFFCC;
$yellow:                  #ffeb00;

$register-button:         #85E6CE;
$register-button-border:  #78CFB9;
$register-button-hover:   #78CFB9;
