body {
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  background-color: #fafafa; }

a {
  color: #000000; }

a:hover, a:active, a:focus {
  color: #000000;
  text-decoration: none; }

#main {
  padding-top: 80px; }

@media (min-width: 992px) {
  #main {
    padding-left: 275px; } }

.car-image__preview {
  display: block;
  max-width: 100px;
  margin-bottom: 15px; }

.ride-request {
  padding: 10px;
  height: 100px;
  display: block;
  border-bottom: 1px solid #cccccc; }

.ride-request__status {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 100px;
  padding: 5px; }

.ride-request__status-capitalized {
  display: inline-block;
  text-transform: capitalize;
  margin-right: 5px; }

.ride-request__info {
  display: inline-block;
  margin-right: 5px; }

.ride-request__button {
  vertical-align: top;
  display: inline-block;
  max-width: 90px; }

.ride-request__status--pending {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  height: 100px;
  margin-top: 15px;
  margin-left: 40px;
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  -moz-transform: rotate(270deg);
  /* Firefox */
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -o-transform: rotate(270deg);
  /* Opera */
  transform: rotate(270deg);
  color: #FFA500;
  margin-right: 5px; }

.ride-request__status--rejected {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  height: 100px;
  margin-top: 20px;
  margin-left: 40px;
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  -moz-transform: rotate(270deg);
  /* Firefox */
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -o-transform: rotate(270deg);
  /* Opera */
  transform: rotate(270deg);
  color: red;
  margin-right: 5px; }

.ride-request__status--accepted {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  height: 100px;
  margin-top: 22px;
  margin-left: 40px;
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  -moz-transform: rotate(270deg);
  /* Firefox */
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -o-transform: rotate(270deg);
  /* Opera */
  transform: rotate(270deg);
  color: #008000;
  margin-right: 5px; }

.ride-request__places {
  margin-right: 5px; }

.ride-request__places-value {
  font-size: 18px;
  display: inline-block;
  margin-right: 5px; }

.ride-request__places-label {
  display: inline-block; }

.ride-request__passenger {
  font-size: 18px;
  font-weight: bold;
  margin-right: 5px; }

.ride-request__created {
  display: inline-block;
  color: #808080; }

.ride {
  border-bottom: 1px solid #cccccc;
  padding: 10px; }

.ride:hover {
  background-color: #F2FFFA; }

.ride-driver {
  display: inline-block;
  width: 250px;
  border-right: 1px solid #cccccc;
  height: 90px;
  vertical-align: top;
  padding-left: 5px;
  padding-right: 5px; }

.ride-driver__avatar {
  display: inline-block;
  margin-right: 10px; }

.ride-driver__avatar img {
  height: 50px; }

.ride-driver__info {
  vertical-align: top;
  display: inline-block; }

.ride-driver__name {
  font-weight: bold;
  font-size: 16px; }

.ride-driver__age {
  font-size: 12px; }

.ride-description {
  display: inline-block;
  width: calc(100% - 430px);
  padding-left: 5px;
  padding-right: 5px; }

.ride-simple-description {
  display: inline-block;
  width: calc(100% - 150px);
  padding-left: 5px;
  padding-right: 5px; }

.ride-description__start_date {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px; }

.ride-description__start-city {
  display: inline-block;
  color: #484C4B; }

.ride-description__car {
  margin-top: 20px; }

.ride-description__car-label,
.ride-description__car-name {
  display: inline-block;
  color: #484C4B;
  margin-right: 5px; }

.ride-description__destination-city {
  display: inline-block;
  color: #484C4B; }

.ride-description__arrow {
  margin-left: 10px;
  margin-right: 10px;
  color: #484C4B; }

.ride-offer {
  text-align: right;
  display: inline-block;
  width: 150px;
  border-left: 1px solid #cccccc;
  padding-left: 5px;
  padding-right: 5px;
  vertical-align: top; }

.ride-offer__price-value {
  font-weight: bold;
  margin-bottom: -5px;
  font-size: 28px;
  display: inline-block;
  margin-right: 5px; }

.ride-offer__price-currency {
  margin-bottom: -5px;
  font-size: 22px;
  text-transform: uppercase;
  display: inline-block; }

.ride-offer__price-label {
  font-size: 18px; }

.ride-offer__places-free {
  font-weight: bold;
  font-size: 25px;
  display: inline-block;
  margin-right: 5px; }

.ride-offer__places-label {
  display: inline-block; }

.ride-show-offer,
.ride-show-requests,
.ride-show-driver,
.ride-show-description {
  border: 1px solid #cccccc;
  margin-bottom: 20px; }

.ride-show-description__heading {
  border-bottom: 1px solid #cccccc;
  padding: 10px;
  font-weight: bold;
  font-size: 22px;
  background-color: #fafafa; }

.ride-show-description__actions {
  float: right; }

.ride-show-description__arrow {
  display: inline-block;
  color: #484C4B;
  margin-right: 5px;
  margin-left: 5px; }

.ride-show-description__details {
  padding: 10px; }

.ride-show-description__details-label {
  display: inline-block;
  width: 180px;
  float: left; }

@media (max-width: 767px) {
  .ride-show-description__details-label {
    width: 50%; } }

.ride-show-description__details-value {
  display: inline-block; }

.ride-show-driver__heading,
.ride-show-requests__heading,
.ride-show-offer__heading {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #fafafa; }

.ride-show-driver__details {
  padding: 5px; }

.ride-show-driver__details-info {
  display: inline-block;
  vertical-align: top;
  margin: 10px; }

.ride-show-driver__details-name {
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  margin-right: 5px; }

.ride-show-driver__details-age {
  display: inline-block; }

.ride-show-driver__details-join-label {
  display: inline-block;
  margin-right: 5px; }

.ride-show-driver__details-join-value {
  display: inline-block; }

.ride-show-offer__details-places,
.ride-show-requests__details-places,
.ride-show-offer__details-price {
  padding: 10px; }

@media (max-width: 767px) {
  .ride-show-offer {
    margin-top: 20px; } }

.ride-show-offer__details-price-value {
  font-size: 25px;
  display: inline-block;
  margin-right: 5px; }

.ride-show-offer__details-price-currency {
  font-size: 22px;
  display: inline-block;
  text-transform: uppercase;
  margin-right: 5px; }

.ride-show-offer__details-price-label {
  display: inline-block; }

.ride-status {
  vertical-align: top;
  display: inline-block;
  width: 30px;
  height: 90px;
  padding: 5px; }

.ride-status__label {
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  height: 110px;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-transform: rotate(270deg);
  /* Safari and Chrome */
  -moz-transform: rotate(270deg);
  /* Firefox */
  -ms-transform: rotate(270deg);
  /* IE 9 */
  -o-transform: rotate(270deg);
  /* Opera */
  transform: rotate(270deg); }

.book-ride {
  padding: 10px; }

.book-ride-form {
  margin-top: -10px; }

.book-ride-form > div {
  width: 100% !important; }

.cities-search-form .geosuggest {
  display: inline-block;
  margin: 10px;
  width: 30%; }

.cities-search-form .form-group {
  display: inline-block; }

.login {
  display: table;
  width: 100%;
  margin-bottom: 100px; }

.alert {
  margin-bottom: 0; }

.login-button {
  width: 50%;
  min-width: 230px;
  margin: 0 auto;
  display: block; }

.login-button__separator {
  text-align: center;
  margin: 5px 0; }

.login-form {
  display: table-cell;
  width: 33%;
  padding: 25px;
  background: #484C4B;
  vertical-align: top;
  table-layout: fixed; }

.login-form__title {
  margin-top: 0;
  text-align: center;
  text-transform: uppercase; }

.login-email-form {
  width: 50%;
  min-width: 230px;
  margin: 10px auto 0; }

.register-button {
  width: 100%;
  display: block;
  background-color: #85E6CE;
  border-color: #78CFB9; }

.register-button:hover, .register-button:focus, .register-button:active, .register-button:visited {
  background-color: #78CFB9;
  border-color: #78CFB9; }

.register-form {
  display: table-cell;
  width: 16%;
  padding: 25px;
  background: #ffffff;
  vertical-align: top;
  table-layout: fixed; }

.background {
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-image: url(https://s3-eu-west-1.amazonaws.com/ngshop/page/login/login_photo.jpg); }

.control-label {
  display: block; }

.react-datepicker__input-container {
  width: 300px; }

.form-control {
  display: inline-block;
  max-width: 300px; }

.has-error .form-control {
  border-color: #FF0000; }

.form-error {
  margin-left: 10px;
  color: #FF0000;
  display: inline-block; }

.form-dropzone {
  width: 100%;
  max-width: 300px;
  border-width: 2px;
  border-color: #757575;
  border-style: dashed;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 15px; }

.cities-search-form {
  background-color: #fafafa;
  text-align: center; }

.form-datepicker {
  margin: 10px;
  width: 100px; }

.form-search {
  margin: 0 10px;
  height: 34px;
  vertical-align: baseline; }

.geosuggest__suggests {
  max-width: 300px; }

.rides-search {
  display: inline-block;
  width: calc(100% - 32px); }

.rides-search .geosuggest__wrapper {
  display: inline-block;
  width: calc(33% - 30px);
  margin-right: 10px;
  margin-bottom: 3px;
  vertical-align: bottom; }

.rides-search .geosuggest {
  display: inline-block;
  width: 100%; }

.rides-search .geosuggest__input-wrapper {
  display: inline-block;
  width: 100%; }

.rides-search .date-input {
  display: inline-block;
  width: calc(33% - 23px);
  height: 40px;
  padding-right: 10px;
  vertical-align: middle; }

.rides-search .date-input > div {
  display: inline-block !important;
  width: 100% !important;
  height: 45px !important; }

.rides-search .date-input > div label {
  top: 10px !important; }

.rides-search .date-input > div input {
  margin-top: 2px !important; }

@media (max-width: 1199px) {
  .rides-search .date-input {
    width: calc(33% - 24px); } }

.rides-search .form-submit {
  margin: 0; }

@media (max-width: 767px) {
  .rides-search > div {
    display: block !important;
    width: 100% !important; } }

.rides-filters {
  display: inline-block;
  width: 168px;
  padding: 10px; }

.rides-filters label {
  font-size: 12px !important; }

.rides-filters__button {
  display: inline-block;
  margin-left: -8px; }

@media (max-width: 767px) {
  .rides-filters__button {
    vertical-align: top; } }

.rides-filters__button button {
  height: 40px !important;
  width: 40px !important;
  padding: 0 !important;
  vertical-align: middle; }

.text-input {
  display: block !important;
  width: 100% !important; }

.select-input {
  width: 100% !important; }

.radio-input {
  margin: 20px 0 -10px; }

.radio-input label {
  display: block; }

.date-input > div {
  display: block !important;
  width: 100% !important; }

.file-input {
  margin: 20px 0 -10px; }

.file-input > div {
  width: 100% !important;
  max-width: 300px;
  height: 65px !important;
  padding: 10px;
  margin-bottom: 15px; }

.form-submit {
  margin: 20px 0; }

label {
  display: block;
  color: #cccccc;
  font-size: 16px; }

/**
 * The geosuggest module
 * NOTE: duplicated font-sizes' are for browsers which don't support rem (only IE 8)
 */
.geosuggest {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  position: relative;
  width: 100%;
  line-height: 24px;
  background-color: transparent;
  cursor: auto; }

.geosuggest__input {
  width: 100%;
  background-color: transparent;
  padding: 2px;
  position: relative;
  width: 100%;
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.870588);
  -webkit-tap-highlight-color: #ffffff;
  height: 100%;
  box-sizing: border-box;
  margin-top: 14px;
  -webkit-transition: font-weight 0.2s, border-bottom 0.2s, -webkit-transform 0.2s;
  transition: font-weight 0.2s, border-bottom 0.2s, transform 0.2s; }

.geosuggest__input:focus {
  border-bottom: 2px solid #00bcd4; }

.geosuggest__input:focus {
  box-shadow: 0 0 0 transparent; }

.geosuggest__suggests {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 25em;
  padding: 0;
  margin-top: -1px;
  border: 2px solid #cccccc;
  background: #fafafa;
  border-top-width: 0;
  overflow-x: hidden;
  overflow-y: auto;
  list-style: none;
  z-index: 5;
  -webkit-transition: max-height 0.2s, border 0.2s;
  transition: max-height 0.2s, border 0.2s; }

.geosuggest__suggests--hidden {
  max-height: 0;
  overflow: hidden;
  border-width: 0; }

/**
 * A geosuggest item
 */
.geosuggest__item {
  width: 100%;
  font-size: 18px;
  font-size: 1rem;
  padding: .5em .65em;
  cursor: pointer; }

.geosuggest__item:hover,
.geosuggest__item:focus {
  background-color: #cccccc; }

.geosuggest__item--active {
  color: #ffffff; }

.geosuggest__item--active:hover,
.geosuggest__item--active:focus {
  background: #ccc; }

.geosuggest__wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 39px;
  font-size: 16px;
  line-height: 24px;
  width: 100%;
  display: inline-block;
  position: relative;
  background-color: transparent;
  font-family: Roboto, sans-serif;
  cursor: auto;
  border-bottom: 1px solid #cccccc; }

.geosuggest__wrapper--error {
  border-bottom: 2px solid #FF0000; }

.geosuggest__error {
  font-size: 13px;
  color: #FF0000; }

.notifications__button,
.header__notifications__button {
  padding: 0 !important;
  vertical-align: bottom; }

.notifications__header,
.header__notifications__header {
  padding: 5px;
  background-color: #fafafa;
  color: #000000; }

.notifications__footer,
.header__notifications__footer {
  padding: 5px;
  background-color: #fafafa; }

.notifications__empty,
.header__notifications__empty {
  padding: 5px;
  width: 200px; }

.notifications .notification,
.header__notifications .notification {
  padding: 10px;
  background-color: #ffffff; }

.notifications .notification:hover,
.header__notifications .notification:hover {
  background-color: #fafafa; }

.notifications .notification.notification--seen,
.header__notifications .notification.notification--seen {
  background-color: #fafafa; }

.notifications .notification__body,
.header__notifications .notification__body {
  display: inline-block;
  width: calc(100% - 40px);
  padding-left: 10px;
  vertical-align: middle;
  color: #000000; }

.notifications .notification__link,
.header__notifications .notification__link {
  color: #66afe9; }

.notifications .notification__timestamp,
.header__notifications .notification__timestamp {
  display: block;
  color: #808080;
  font-size: 12px; }

.header__notifications {
  max-width: 450px;
  max-height: 400px;
  height: 70%;
  top: 65px !important;
  overflow-y: scroll; }

.stars {
  color: #267DC0;
  display: inline-block; }

.heading {
  border-bottom: 1px solid #808080; }

.heading__title {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
  padding-top: 5px; }

.heading__button {
  float: right;
  margin-bottom: 10px; }

.heading {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid #808080;
  height: 40px; }

.heading-title {
  margin-top: 5px;
  font-size: 20px;
  font-weight: bold;
  float: left; }

.heading-button {
  float: right; }

.sidebar__container {
  display: inline-block;
  padding: 10px;
  border: 1px solid #cccccc;
  width: 305px; }

.main-info__container {
  margin-left: 20px;
  display: inline-block;
  vertical-align: top; }

.sidebar {
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid #808080; }

.sidebar:first-of-type {
  padding-top: 0px;
  border-top: none; }

.sidebar:last-of-type {
  padding-bottom: 0px; }

.sidebar__title {
  font-weight: bold;
  font-size: 18px; }

.sidebar__details {
  color: #808080; }

.sidebar__details-icon {
  margin-right: 2px; }

.account-menu {
  border: 1px solid #808080;
  padding: 0; }

.account-menu__heading {
  border-bottom: 1px solid #808080;
  width: 100%;
  padding: 5px;
  font-weight: bold;
  background-color: #cccccc; }

.account-menu__item {
  display: block;
  background-color: #cccccc;
  padding: 5px;
  border-top: 1px solid #808080;
  cursor: pointer; }

.account-menu__item:hover {
  background-color: #ffeb00; }

.account-menu__item.active {
  background-color: #ffeb00; }

.account-menu__item:last-of-type {
  border-bottom: none; }

.account-menu__subitem {
  display: block;
  background-color: #cccccc;
  padding: 5px;
  border-top: 1px solid #cccccc;
  cursor: pointer; }

.account-menu__subitem:hover {
  background-color: #FFFFCC; }

.account-menu__subitem.active {
  background-color: #FFFFCC; }

.account-menu__subitem:last-of-type {
  border-bottom: none; }

.account_form-fields {
  width: 300px; }

.account_form-photo,
.account_form-avatar {
  margin-bottom: 10px; }

.account_form-photo img,
.account_form-avatar img {
  margin-top: 5px;
  margin-bottom: 10px; }

.account_form-photo-label,
.account_form-avatar-label {
  font-weight: bold; }

.account_form-label {
  font-weight: bold; }

.account_form-label--required {
  display: inline-block;
  margin-left: 5px;
  cursor: default; }

.car {
  width: 32%;
  min-width: 280px;
  display: inline-block;
  padding: 5px;
  margin-right: 10px; }

.car-details {
  width: 130px;
  display: inline-block; }

.car-details__name {
  font-weight: bold; }

.car-details__places {
  display: inline-block;
  margin-right: 5px; }

.car-photo {
  display: inline-block;
  float: right; }

.user {
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 15px; }

@media (max-width: 991px) {
  .user {
    width: calc(50% - 8px); }
  .user:nth-child(2n) {
    margin-right: 0; } }

@media (min-width: 992px) {
  .user {
    width: calc(33% - 10px); }
  .user:nth-child(3n) {
    margin-right: 0; } }

.user-show {
  border: 1px solid #cccccc;
  margin-bottom: 20px; }

.user-show__heading--info,
.user-show__heading--car,
.user-show__heading--activity {
  border-bottom: 1px solid #cccccc;
  padding: 5px;
  padding-left: 10px;
  font-weight: bold;
  font-size: 18px;
  background-color: #fafafa; }

.user-show__details {
  border-bottom: 1px solid #cccccc;
  padding: 10px; }

.user-show__details-car {
  padding: 10px 0 10px 10px;
  text-align: center; }

.user-show__details-info {
  padding: 10px; }

.user-show__details-icon {
  display: inline-block;
  margin-right: 3px; }

.user-show__details-label {
  display: inline-block;
  width: 180px; }

.user-show__details-value {
  display: inline-block;
  float: right; }

.user-show__details-avatar {
  display: inline-block;
  margin: 10px; }

.user-show__details-info {
  display: inline-block;
  vertical-align: top; }

.user-show__details-name {
  display: inline-block;
  font-weight: bold;
  font-size: 18px; }

.user-show__details-age {
  display: inline-block;
  margin-left: 5px; }

.file-input .user-avatar__preview {
  display: block;
  height: auto !important;
  margin: -25px 0 0 -10px !important; }

.file-input .user-avatar__preview .user-avatar__preview-title {
  margin-top: 10px; }

.file-input .user-avatar__preview .user-avatar__preview-image {
  max-width: 100px; }

.file-input .user-avatar__preview .user-avatar__preview-filename {
  display: block;
  color: #808080; }
